[submodule "HElib/FlyHE"]
	path = HElib/FlyHE
	url = git@github.com:sunnchioo/FlyHE.git
	shallow = true
[submodule "Tool/llvm-project"]
	path = Tool/llvm-project
	url = git@github.com:sunnchioo/llvm-project.git
[submodule "Tool/Polygeist"]
	path = Tool/Polygeist
	url = git@github.com:sunnchioo/Polygeist.git
